@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3e3e3e;
  font-family: "Roboto", sans-serif;
}
.line {
  border-bottom: 4px solid #6c63ff;
  margin-bottom: 50px;
  width: 6%;
}
.container {
  margin: 50px 50px;
}
.container h1 {
  font-size: 50px;
  color: #b41dff;
}
.container .img {
  position: absolute;
  top: 0px;
  right: 50px;
  width: 70px;
  cursor: pointer;
  margin: 40px;
}
.cart {
  display: flex;
}
.products {
  flex: 1.75;
  margin: 50px;
}
.product1 {
  display: flex;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background: #2e2e2e;
  color: #faf1ff;
}
.product1:hover {
  border: none;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.product1 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.product1 img:hover {
  transform: scale(1.04);
}
.product-info {
  padding: 20px;
  width: 100%;
  position: relative;
}
.product-name {
  font-size: 32px;
}
.product-name,
product-price,
product-quantity {
  margin-bottom: 20px;
}
.product-info h2 {
  font-size: 24px;
  font-weight: 500;
}
.product-info .product-quantity {
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.product-quantity {
  margin-top: 10px;
}

/*.add {
    margin-top: 15px;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 12px 15px;
    background-color: #B41DFF;
    color:#FAF1FF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}*/
/*.add:hover{
    background-color: white;
    color: rgb(131, 130, 130);
    font-weight: 600;
    border: 1px solid rgb(131, 130, 130);

}*/
.product-remove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 18px;
}

.product-info .remove {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.product-info .like {
  width: 40px;
  height: 25px;
  position: absolute;
  bottom: 32px;
  left: 82%;
  cursor: pointer;
  color: white;
  filter: invert(1);
}
.product-quantity span {
  width: 40px;
  height: 25px;
  text-align: center;
  border: none;
  background:white;
  color:#444;
  padding:0px 15px 1px;
    font-size: 18px;

}
.product-quantity button {
  width: 40px;
  height: 25px;
  border: none;
  cursor: pointer;
  background: rgb(56, 56, 56);
  color: white;
  font-size: 17px;
  text-align: center;
}
.cart-total {
  flex: 0.55;
  margin-left: 20px;
  padding: 40px;
  height: 500px;
  border-radius: 5px;
  margin: 50px;
  color: #faf1ff;
  background: #2e2e2e;
  position: relative;
}
.cart-total:hover {
  transform: scale(1.01);
}
.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 24px;
}
.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  width: 110px;
  line-height: 40px;
  background-color: #b41dff;
  color: white;
  text-decoration: none;
  position: absolute;
  border-radius: 24px;
  left: 120px;
  top: 440px;
  font-size: 20px;
}
.cart-total .total {
  padding: 40px 0;
}
hr {
  border: 1px solid #3e3e3e;
}

/**@media screen and (max-width: 1000px) {
  .product-info {
    padding: 0 20px;
  }

  @media screen and (max-width: 800px) {
    .cart {
      flex-direction: column;
    }
    .cart-total {
      margin-left: 0;
      margin-bottom: 20px;
    }
    .cart-total a {
      left: 200px;
    }
  }
   @media screen and (max-width: 1220px) {
    .container {
      max-width: 100px;
    }
  }
  @media screen and (max-width: 880px) {
    .product1 .img3 {
      width: 200px;
    }
    .products {
      flex: 100;
    }
  } /*655*/
  /*@media screen and (min-width: 381px) {
    .cart {
      display: inline-block;
      margin: 70px;
    }
    .container h1 {
      width: 50rem;
    }
    .container .line {
      width: 4rem;
    }

    .product-info .remove {
      margin: 50px 0px 0;
    }
    .products {
      width: 40rem;
    }
    .cart-total .shop-button {
      left: 15em;
    }
    .container .img {
      margin: 50px -400px;
    }
  }
}**/
@media screen and (max-width: 1031px) {
  .container {
     flex-direction: column;
     padding: 10px 20px;

   }
   .cart h1, .cart h2 , .cart p{
           font-size: 2em;
   }
   .cart {
     padding: 8px 25px;
     flex-direction: column;
     width: 150vh;   
    }
  .cart-total span {
     font-size: 1.5em;
     

  }
  .cart-total .shop-button {
    margin: 200px 500px 200px 250px;
}
/*.product-info .like{
  position:absolute;
  left: 68vh;
  bottom: 35px;
}*/
@media screen and (max-width: 700px) {
  .products {
    width: 100%;
  }
  /*.product-info .like{
    position:relative;
    right: 50px;
    bottom: 35px;
  } */
}
}
