@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #71e178;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 40px;
  background: white;
}

.login:hover {
  box-shadow: 3px 3px 50px #a2b29f;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  color: #125c17;
}
h3 {
  color: #125c17;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.User {
  position: relative;
  margin: 20px 0px;
}
.User input {
  width: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  padding-left: 30px;
  border-bottom: 2px solid #2cdb38;
  outline: none;
  background: none;
}
.User input:focus {
  border-bottom: 5px solid #5ce18d;
  border-radius: 24px;
}
.btn {
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  background: #2e5c31;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.check {
  margin-top: 40px;
  color: #265c39;
}
.check a {
  float: right;
}

div a {
  color: #265c39;
}
section .wave {
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(wave.png);
  animation: animate 10s linear infinite;
}

section .wave::before {
  content: "";
  width: 100%;
  height: 143px;
  background: url(wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}
@keyframes animate-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}
.socials {
  margin: 12%;
  text-align: center;
}
.socials a {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #61e1a3;
  border-radius: 50%;
  margin: 0 5px;
  color: #050505;
  background: #61e1a3;
}
.socials a i {
  padding: 8px 0;
  color: white;
}
.eye {
  position: absolute;
}
#h1 {
  display: none;
}
